PORT=3000
# or localhost instead of db
DATABASE_URL=postgresql://postgres:postgres@db:5432/app_db

# or localhost
REDIS_HOST=redis

REDIS_PORT=6379

# or localhost
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# for local development env
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest