PORT=3000
# or localhost instead of db
DATABASE_URL=postgresql://postgres:postgres@db:5432/app_db

# or localhost
REDIS_HOST=redis

REDIS_PORT=6379

# or localhost
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# for local development env
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

#JWT setup
JWT_SECRET=super_secret_key

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

# Argon2 password hashing (2^16)
ARGON2_PASSWORD_MEMORY_COST=65536
ARGON2_PASSWORD_TIME_COST=3
ARGON2_PASSWORD_PARALLELISM=1

# Argon2 token hashing (2^14)
ARGON2_TOKEN_MEMORY_COST=16384
ARGON2_TOKEN_TIME_COST=2
ARGON2_TOKEN_PARALLELISM=1