NODE_ENV=development
PORT=3000
# or localhost instead of db
DB_HOST=db

DB_PORT=5432
DB_NAME=app_db
DB_USER=postgres
DB_PASSWORD=postgres

# or localhost
REDIS_HOST=redis

REDIS_PORT=6379

# or localhost
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# for local development env
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest